
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    background-color: #F20505;
    padding-bottom: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
}

.container input {
    padding: 9px;
    width: 310px;
    font-size: 18px;
    font-family: 'regular';
    border-radius: 10px;
    border: 2px solid black;
}

.images_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images_container .img_name {
    height: 210px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    
    .images_container .img_name {
        height: 180px;
    }

    .container input {
        width: 290px;
    }

}
